version.py
# Build related
*.so
.DS_store
quad4.cpp
quad4r.cpp
tria3r.cpp
beam*.cpp
spring*.cpp
truss*.cpp
shell*.cpp
build
dist
.coverage
.pytest_cache
*.egg-info
# Temp files
.ipynb_checkpoints
tmp*
temp*
tmp*.*
temp*.*
.cache

# Python compiled files
*.pyc
*.pyo
*.pyd

shellprop.cpp 
derive_*.txt 
